.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.upper-row {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.lower-row {
  display: flex;
  height: 50%;
}

.chart {
  height: 100%;
}

.col-1 {
  flex: 3;
  padding: 0 10px 0 0;
}

.col-2 {
  flex: 3;
  padding: 0 10px 0 10px;
}

.col-3 {
  flex: 2;
  padding: 0 0 0 10px;
}
