.new-request {
  display: flex;
  column-gap: 20px;
  // flex-wrap: wrap;
}

.input {
  height: 40px;
  position: relative;
  background: #f2f2f2;
}

.col-1 {
  flex: 3;
}

.col-2 {
  flex: 1;
}

.col-3 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.placeholder {
  color: #bbbbbb;
}

.buttons {
  margin: 25px 0 0 0;
}

.asteriks {
  color: red;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}
