.new-request {
  display: flex;
  column-gap: 20px;
}

.input {
  border: none;
  height: 56px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 0;

  // &:before {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   content: '';
  //   width: 100%;
  //   height: 2px;
  //   color: red;
  // }
}
