.new-request {
  display: flex;
  column-gap: 20px;
}

.input {
  border: none;
  height: 48px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 0;
  background: #f2f2f2;
  outline: none;
}
